<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body id="pozadina">
<h1>BROJ POSJETA STRANICI:</h1>
<h2><%= brojac %></h2>
</body>
</html>
