<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1> Da li ste sigurni da zelite izbrisati sve podatke?</h1>
<button type="button" class="btn btn-success" onclick="noviProzor()">DA</button>
<button type="button" class="btn btn-danger" onclick="noviProzor()">NE</button>

</body>
</html>
