<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body id = "pozadina">
<h1>Uredite tekst objave</h1>
<form METHOD="POST" action="/unesiObjavu">
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Unesite tekst objave:</label>
        <textarea class="form-control" id="tekst" rows="10" name="tekst"></textarea>
    </div>
    <button type="submit" class="btn btn-success">POTVRDI</button>
</form>
</body>
</html>
