body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#pozadina {
  background: url("https://wallpaperaccess.com/full/1472764.jpg");
  background-size: cover;
  color: white;
}

a {
  color: #00B7FF;
}
